{% extends "base.html" %}

{% block title %}
Admin Panel
{% endblock %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h2>Admin Panel</h2>

        <hr>

        <h4>
            Welcome,
            <span class="text-primary">
                {{ username }}
            </span>
        </h4>

        <p>
            Role:
            <span class="badge bg-danger">
                {{ role }}
            </span>
        </p>

        <div class="alert alert-success">

            <strong>Access Granted</strong>

            <br>

            You are authorized to access the Admin Panel.

        </div>

    </div>

</div>

{% endblock %}
