<body>

<nav>

    <a href="/">Home</a>

    |

    <a href="/register">Register</a>

    |

    <a href="/login">Login</a>

    |

    <a href="/dashboard">Dashboard</a>

    |

    <a href="/logout">Logout</a>

</nav>

<hr>

<h1>🛡️ CodeAlpha Secure Coding Review</h1>

<hr>

{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}

<ul>

{% for category, message in messages %}

<li><strong>{{ category }}</strong> : {{ message }}</li>

{% endfor %}

</ul>

{% endif %}

{% endwith %}

{% block content %}

{% endblock %}

<hr>

<p>Developed for CodeAlpha Internship</p>

</body>
