{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h2>Dashboard</h2>

        <hr>

        <h4>
            Welcome,
            <span class="text-primary">
                {{ username }}
            </span>
        </h4>

        <p>
            Authentication Successful.
        </p>

        <hr>

        <a href="/search" class="btn btn-primary">
            🔍 Search Users
        </a>

        <a href="/logout" class="btn btn-danger">
            Logout
        </a>

    </div>

</div>

{% endblock %}
