{% extends "base.html" %}

{% block title %}

Home

{% endblock %}

{% block content %}

<h2>Welcome</h2>

<p>

This project is created for the CodeAlpha Cyber Security Internship.

</p>

<p>

In the next lessons we will intentionally introduce vulnerabilities for learning secure code review.

</p>

<hr>

<h3>Modules</h3>

<ul>

    <li>Register (Coming Soon)</li>

    <li>Login (Coming Soon)</li>

    <li>Search (Coming Soon)</li>

    <li>Profile (Coming Soon)</li>

    <li>Admin Panel (Coming Soon)</li>

    <li>File Upload (Coming Soon)</li>

</ul>

{% endblock %}