{% extends "base.html" %}

{% block title %}

Home

{% endblock %}

{% block content %}

<div class="card shadow">

<div class="card-body">

<h2>

Welcome

</h2>

<p>

This vulnerable application is built for the

<strong>

CodeAlpha Cyber Security Internship.

</strong>

</p>

<p>

Later we will perform

Manual Review

Bandit Scan

Semgrep Scan

OWASP Analysis

</p>

<hr>

<a href="/register" class="btn btn-primary">

Create Account

</a>

<a href="/login" class="btn btn-success">

Login

</a>

</div>

</div>

{% endblock %}
